#index-form {
  color: rgba(0, 0, 0, 0.724);
  max-width: 600px;
  margin: 200px auto 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#id_image {
  background-color:lightgrey;
  width: 80%;
  font-size: 1rem;
  padding: 15px;
  border-radius: 15px;
}

input::file-selector-button {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.597);
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5px 10px;
}

#submit {
  margin-top: 10px;
  background-color: rgba(211, 211, 211, 0.519);
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px 5px;

  width: 300px;
}