{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <h2 id="inform-h2">Aguarde um momento...</h2>
    <div id="img-container">
      <img id="img" class="hidden">
    </div>
    <div id="links-container">
      
    </div>
    <script>
      const wsUrl = "{{ ws_url }}"
    </script>
    <script src="{% static 'js/websocket.js' %}"></script>
  </body>
</html>
